<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<title>Untitled Document</title>
</head>

<body>
<!-- -->
<table cellspacing="0" cellpadding="0" width="100%" bgcolor="#ebebeb">
<tbody>
<tr>
</tr>
</tbody>
</table>
<table cellspacing="0" cellpadding="0" width="100%" bgcolor="#ebebeb">
<tbody>
<table style= ""cellspacing="0" cellpadding="25" width="605">
<td width="596" align="center" style="background-color: #5EA4BF; border-top: 0px solid #f2f2f2; text-align: left; height: 50px;"><p style="margin-bottom: 10px; font-size: 31px; font-weight: bold; color: #2A678C; font-family:arial; line-height: 110%;">PASSPHRASE REMINDER SERVICE</p>

<img style="margin:50px auto 0 auto; display:block;" src="{{imgurl}}">
</td>

<tr>
<td style="background-color: #5EA4BF; height: 50px;" align="center"><p><span style="font-size: 18px; font-weight: normal; color: #f2f2f2; font-family: arial; line-height: 110%;"><a style="color:#f2f2f2;" href="{{url}}">Please confirm your email address!</a></span></p>


</table>
</body>
</html>